.about-introduction {
    width: 80%;
    margin: 20% auto;
    font-size: 1.5em;
    line-height: 140%;
    font-family: 'Open Sans', sans-serif;
}

.about-team-container {
    display: flex;
    flex-wrap: wrap;
    

    img {
        width: 500px;
        height: 300px;
        margin: 2% auto;
        object-fit: cover;
        object-position: center;
        box-shadow: 
        8px 8px 15px 10px rgba(18, 18, 18, .9), 
        -5px -5px 15px -2px #403f3f;
        opacity: 0;
    }

    img:nth-child(even){
        transform: translateX(-70%);
        transition: all 1s ease 1s;

        &.fade-bottom {
            transform: translateX(0);
            opacity: 1;
        }
    }

    img:nth-child(odd) { 
        transform: translateX(-10%);
        transition: all 1s ease;

        &.fade-bottom {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

.about-last {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;

    .about-qoute {
        font-size: 2em;
        color: black;
        width: 80%;
        text-align: center;
        font-family: 'Montserrat';
        margin: auto;
        transform: translateX(-10%);
        opacity: 0;
        transition: all 1s ease 0.1s;

        &.fade-bottom {
            transform: translateX(0);
            opacity: 1;
        }
    }
}