.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: transparent;

    .brand-name {
        font-family: 'Montserrat', sans-serif;
        font-size: 29px;
        font-style: italic;
        color: #EC4D2C;
        font-weight: bolder;
        margin-right: auto;
        padding: 0 10%;
    }

    .nav-list {
        display: none;
    }

    .toggle-menu {
        margin-right: 10%;
        font-size: 30px;
    }

    .closed {
        width: 100%;
        height: 0%;
        background-color: rgba(18,18,18,0.9);
        opacity: 0;
        position: absolute;
        top: 7%;  
        transition: all 1s ease;
    }

    .open {
        width: 100%;
        height: 100%;
        background-color: rgba(18,18,18,0.9);
        opacity: 1;
        position: absolute;
        top: 7%;
        transition: all 1s ease;
    }
}