.works-container {
    width: 100%;
    height: auto;

    .card {
        height: 100vh;

        img {
            width: 100%;
            height: 65vh;
            object-fit: cover;
            object-position: center;
            cursor: pointer;
            filter: grayscale(100%);
            transition: transform 3s ease;
            

            &:hover {
                filter: grayscale(0);
                transform: scale(1.06);
            }
        }

        @media screen and (max-width: 479px) {
            .balance {
                object-position: right !important;
            }   
        }

        @media screen and (min-width: 480px) {
            .set-image {
                object-position: top center;
            }
        }

        .card-content {
            width: 90%;
            height: fit-content;
            margin: auto;
            font-family: Montserrat;
            opacity: 0;
            transform: translateX(-10%);
            transition: all 1s ease-in;
            
            h1 {
                text-transform: capitalize;
                font-size: 21px;
                font-weight: 600;
                letter-spacing: 1.45px;
                line-height: 140%;
                margin-top: 40px;
            }

            h4 {
                font-weight: 300;
            }

            &.fade-in {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

@media screen and (min-width: 480px){
.last {
        width: 100%;
        height: 100vh;
        background-color: white;
        display: flex;

        .last-slide {
            color: black;
            font-size: 3em;
            width: 80%;
            margin: auto;
            opacity: 0;
            transform: translateY(-10%);
            transition: all 1s ease;

            &.fade-up {
                opacity: 1;
                transform: translateY(0);
            }

            span {
                color: #D9D9D9;
            }
        }
    }
}

@media screen and (max-width: 479px){
    .last {
        width: 100%;
        height: 100vh;
        background-color: white;
        display: flex;

        .last-slide {
            color: black;
            font-size: 3em;
            width: 80%;
            margin: auto;
            padding-bottom: 60%;
            opacity: 0;
            transform: translateY(-10%);
            transition: all 1s ease;

            &.fade-up {
                opacity: 1;
                transform: translateY(0);
            }
        }
}
}